/* === STYLES SPÉCIFIQUES À LA PAGE SERVICES === */

body.page-services {
  position: relative;
  overflow: hidden;
}

body.page-services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('grey_services.jpg') no-repeat center center;
  background-size: cover;
  z-index: 0;
}


/* === CENTRAGE DU CONTENU DE LA PAGE SERVICES === */

.page-services .services {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .page-services .services {
    flex-direction: row;
    gap: 4rem;
    font-size: 1.3rem;
  }
}


/* === Les points blancs entre services === */


.dot-separator {
  display: inline-block;
  width: 20px;
  height: 20px;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 50%;
  margin: 0 0.1rem;
  vertical-align: middle;
}

/* === Le bandeau cookies === */

.cookie-banner {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #525151;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  display: none;
  z-index: 9999;
  font-family: sans-serif;
}

.cookie-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.cookie-buttons button {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

#cookie-accept {
  background: black;
  color: white;
}

#cookie-decline {
  background: #ddd;
}


@media (max-width: 768px) {
  .page-services .services {
    gap: 1rem; /* espace vertical entre chaque bloc */
    padding: 3rem 1rem;
  }

  .dot-separator {
    margin: 0.5rem 0; /* espace autour des ronds */
    width: 8px;
    height: 8px;
  }

  .page-services .services a {
    font-size: 1rem;
    line-height: 1;
  }
}

@media (min-width: 1600px) {
  .page-services .services {
    font-size: 2.4rem;
  }
}
