body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-transform: lowercase;
    font-size: 2rem;
    cursor: pointer;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    opacity: 0.7;
  }
  
  .services {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: black;
  font-family: sans-serif;
  font-size: 1.2rem;
  text-transform: lowercase;
  letter-spacing: 0.5px;
  padding: 0 2rem;
}
