/* ========== STYLES GÉNÉRAUX ========== */

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Asap', sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  font-size: 1rem;
}

/* Optionnel : si une page veut centrer verticalement */
body.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ========== Page home ========== */

.page-home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Asap', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.texte-offrm {
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-weight: normal;
}
.circle-o {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  background-color: white;
  border-radius: 50%;
}

/* ========== LIENS ========== */

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

/* ========== SECTION SERVICES ========== */

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}


/* ========== MENU BURGER ========== */

.burger {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  background-color: white; /* rond plein blanc */
  border: none; /* supprime la bordure blanche */
  border-radius: 50%;
  cursor: pointer;
  z-index: 11;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.burger:hover {
  transform: scale(1.1);
  background-color: #e0e0e0; /* Gris très clair */;
}



.burger:before {
  content: "";
}

.menu {
  position: fixed;
  top: 60px;
  right: 20px;
  background: rgba(0, 0, 0, 0.55);
  border: 1px solid white;
  padding: 1rem;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  gap: 0.8rem;
  z-index: 10;
}

.menu a {
  color: white;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 0.95rem;
  opacity: 0.9;
}

.menu a:hover {
  opacity: 1;
  color: #ffffff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 1024px) {
  .burger {
    width: 30px;
    height: 30px;
  }
  .menu a {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1600px) {
  .burger {
    width: 60px;
    height: 60px;
  }
  .menu a {
    font-size: 2rem;
    padding: 12px 0; /* vertical : plus de hauteur entre les liens */
  }
  .menu {
    top: 80px; 
  }
}

/* Logo "o" rempli */

.logo {
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.2em; /* Espace entre le cercle o et le texte "ffrm studio" */
  transform: translateX(20px); /* Décale tout le bloc .logo vers la droite */
  padding-left: 70px; /* Décale le texte vers la droite. Ajoute un espace intérieur avant le contenu (donc décale vers la droite) */
  font-weight: normal;
}

.circle-o {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  background-color: white;
  border-radius: 50%;
}



/*Pour ajouter le logo haut gauche sauf index */

.page-standard .site-name,
.page-services .site-name,
.page-a-propos .site-name,
.page-production .site-name,
.page-representation .site-name,
.page-curation .site-name,
.page-contact .site-name,
.page-avecoffrm .site-name,
.page-equipe .site-name,
.page-projet-lldc .site-name,
.page-projet-sonsoee .site-name,
.page-mentions-legales .site-name,
.page-projet-yeohoon-again .site-name,
.page-projet-yeohoon-htg .site-name {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 1.5rem;
  text-transform: lowercase;
  font-family: 'Asap', sans-serif;
  font-weight: 300;
  color: white;
  z-index: 12;
}

@media screen and (min-width: 1024px) {
  .page-a-propos .wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  .page-a-propos .image-side {
    flex: 0 0 50%;
    height: 100vh;
    overflow: hidden;
  }

  .page-a-propos .image-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .page-a-propos .text-side {
    flex: 1;
    padding: 3rem;
    overflow-y: auto;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 6vh;
  }

  .page-contact .content {
    font-size: 1.3rem;
  }
}


.page-production {
  position: relative;
  height: 100vh;
  background-color: black;
  color: white;
}

.page-production .services {
  position: absolute;
  top: 50%;  /* ajustable */
  left: 15%; /* ajustable */
  transform: translateY(-50%); /* pour centrer verticalement autour du top */
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}


.page-representation {
  position: relative;
  height: 100vh;
  background-color: black;
  color: white;
}

.page-representation .services {
  position: absolute;
  top: 50%;  /* ajustable */
  left: 15%; /* ajustable */
  transform: translateY(-50%); /* pour centrer verticalement autour du top */
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}

.page-curation {
  position: relative;
  height: 100vh;
  background-color: black;
  color: white;
}

.page-curation .services {
  position: absolute;
  top: 50%;  /* ajustable */
  left: 15%; /* ajustable */
  transform: translateY(-50%); /* pour centrer verticalement autour du top */
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}


.page-contact {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  color: white;
}

.page-contact .background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("grey_contact.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.page-contact .content {
  position: relative;
  z-index: 2;
}

.page-contact .site-name,
.page-contact .burger,
.page-contact .menu {
  z-index: 3;
}

.page-contact .youtube-link img {
    width: 30px;
    height: 30px;
  }


.download-link:hover {
  color: #ccc;
  text-shadow: 0 0 8px rgba(255,255,255,0.5);
}

/* ========== FOOTER LANGUE FR | EN ========== */

.footer-bar {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  z-index: 10;
  color: white;
}


.language-selector {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1rem;
  color: white;
  z-index: 10;
}

.language-selector a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.language-selector a:hover {
  text-decoration: underline;
}

/* ========== Mobile screens ========== */

@media screen and (max-width: 768px) {
  .page-a-propos {
    background-image: url("CJ_gris.jpg");
    background-size: 140% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .page-a-propos .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 20px 60px 20px;
    min-height: 100%;
    height: auto;
    width: 100%;
    box-sizing: border-box;
  }

  .page-a-propos .text-side {
    text-align: center;
    font-size: 1rem;
    line-height: 1.8;
    max-width: 90%;
    margin: 0 auto;
  }

  .page-a-propos .image-side {
    display: none;
  }

  html, body {
    margin: 0;
    padding: 0;
    height: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: black;
  }

  body.page-a_propos {
  background-image: url('CJ_gris.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* important pour couvrir tout le scroll */
  }

  .footer-bar {
    font-size: 0.8rem; /* ou 0.7rem si tu veux encore plus petit */
  }
  .copyright {
    font-size: 0.6rem;
  }

  .page-contact .youtube-handle {
    font-size: 1rem;
  }

  .page-mentions-legales .menu {
    background-color: rgba(0, 0, 0, 0.6); /* noir semi-transparent */
    border: 1px solid white;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }

  .page-mentions-legales .menu a {
    color: white;
  }

  .page-mentions-legales .menu a:hover {
    color: white;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.5rem;
    transform: none;
    padding-left: 0;
  }
}


/* ========== Desktop screens ========== */

@media screen and (min-width: 1024px) {
  .page-a-propos .image-side {
    height: 100vh;
  }

  .page-a-propos .image-side img {
    height: 100%;
    object-fit: cover;
  }

  .language-selector {
    font-size: 1.3rem; /* ✅ agrandi sur desktop uniquement */
  }

  .page-contact .content {
    margin-top: -3vh; /* ajuste cette valeur à ta convenance */
  }

  .page-home .texte-offrm {
    font-size: 3rem;
  }

  .copyright {
    font-size: 0.8rem;
  }
}


/* ========== Bigger screens ========== */

@media screen and (min-width: 1600px) {
  .page-a-propos .text-side {
    font-size: 2rem;
    margin-top: 5vh;
  }
  .page-services .site-name,
  .page-a-propos .site-name,
  .page-production .site-name,
  .page-representation .site-name,
  .page-curation .site-name,
  .page-contact .site-name,
  .page-avecoffrm .site-name,
  .page-standard .site-name,
  .page-equipe .site-name,
  .page-projet-lldc .site-name,
  .page-projet-sonsoee .site-name,
  .page-mentions-legales .site-name,
  .page-projet-yeohoon-again .site-name,
  .page-projet-yeohoon-htg .site-name {
    font-size: 2.8rem;
  }

  .language-selector {
    font-size: 2.1rem;
  }

  .page-contact .content {
    font-size: 2.5rem;
    margin-top: 2vh;
  }

  .instagram-handle {
    font-size: 2rem;
  }

  .youtube-handle {
    font-size: 2.5rem;
  } 

  .instagram-link img {
    width: 50px;
    height: 50px;
  }

  .youtube-link img {
    width: 60px;
    height: 60px;
  }

  .page-home .texte-offrm {
    font-size: 4rem;
  }
}


